In [ ]:
#Concatenates non cloud and cloud tsv files, adds either 1 or 0 to addended 'Cloud' column, concatenates files in single database

import glob
import os
import csv
import pandas as pd

def concatenate_clouds(indir=r"U:\Training_Data\Cloud_Pixels", outfile = r"U:\Training_Data\Cloud_Pixels\Cloud_Pixels.txt"):
    os.chdir(indir)
    fileList = glob.glob('*.txt')
    dfList = []
    
    for filename in fileList:
        print(filename)
        df = pd.read_csv(filename, delimiter='\s+')
        dfList.append(df)
        
    concatDf = pd.concat(dfList,axis=0)
    concatDf.to_csv(outfile,index=None)
    
concatenate_clouds()

def concatenate_non_clouds(indir=r"U:\Training_Data\Non_Cloud_Pixels", outfile = r"U:\Training_Data\Non_Cloud_Pixels\Non_Cloud_Pixels.txt"):
    os.chdir(indir)
    fileList = glob.glob('*.txt')
    dfList = []
    
    for filename in fileList:
        print(filename)
        df = pd.read_csv(filename, delimiter='\s+')
        dfList.append(df)
        
    concatDf = pd.concat(dfList,axis=0)
    concatDf.to_csv(outfile,index=None)
    
concatenate_non_clouds()

with open(r'U:\Training_Data\Cloud_Pixels\Cloud_Pixels.txt','r') as f_in:
    with open(r'U:\Training_Data\Imagery_Pixels\Cloud_db.txt', 'w') as f_out:
        writer = csv.writer(f_out, delimiter=',', lineterminator='\n')
        reader = csv.reader(f_in, delimiter=',')

        result = []
        # read headers
        row = next(reader)
        # add new header to list of headers
        row.append('Class')
        result.append(row)

        for row in reader:
            # add new column values
            row.append(1)
            result.append(row)

        writer.writerows(result)

with open(r'U:\Training_Data\Non_Cloud_Pixels\Non_Cloud_Pixels.txt','r') as f_in:
    with open(r'U:\Training_Data\Imagery_Pixels\Non_Cloud_db.txt', 'w') as f_out:
        writer = csv.writer(f_out, delimiter=',', lineterminator='\n')
        reader = csv.reader(f_in, delimiter=',')

        result = []
        # read headers
        row = next(reader)
        # add new header to list of headers
        row.append('Class')
        result.append(row)

        for row in reader:
            # add new column values
            row.append(0)
            result.append(row)

        writer.writerows(result)
        

def concatenate_dbs(indir="U:\Training_Data\Imagery_Pixels", outfile = "U:\Training_Data\Pixel_database\Pixel_Database.txt"):
    os.chdir(indir)
    fileList = glob.glob('*db.txt')
    dfList = []
    
    for filename in fileList:
        print(filename)
        df = pd.read_csv(filename, delimiter=',')
        dfList.append(df)
        
    concatDf = pd.concat(dfList,axis=0)
    concatDf.to_csv(outfile,index=None)
    
concatenate_dbs()
print('Done!')

In [12]:
import pandas as pd
import numpy as np

df = pd.read_csv('U:\Training_Data\Pixel_database\Pixel_Database.txt', delimiter= ',')

#pixel_db = df[['B1','B2','B3','B4','B5','B6','B7','B8','B8A','B9','B10','B11','B12','Class']]
pixel_db = df[['band_1','band_2','band_3','band_4','band_5','band_6','band_7','band_8','band_9','band_10','band_11','band_12','band_13','Class']]


pixel_db.head()

,band_1,band_2,band_3,band_4,band_5,band_6,band_7,band_8,band_9,band_10,band_11,band_12,band_13,Class
0,3437,3911,3907,4212,4107,4372,4873,5528,5516,2563,202,5159,4427,1
1,3398,3982,3886,4444,4352,4385,4722,5582,5323,2524,197,5222,4229,1
2,3335,3653,3830,4444,4506,4603,4763,5404,5263,2453,191,5408,4190,1
3,3221,3399,3730,4347,4388,4632,4882,5073,5277,2322,184,5510,4199,1
4,3083,3666,3728,4328,4116,4259,4615,5019,5125,2159,177,5313,4108,1

In [13]:
y = pixel_db['Class']
y.head()

0    1
1    1
2    1
3    1
4    1
Name: Class, dtype: int64

In [14]:
from keras.utils.np_utils import to_categorical

In [15]:
y_cat = to_categorical(y)
y_cat[:100000]

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       ...,
       [0., 1.],
       [0., 1.],
       [0., 1.]], dtype=float32)

In [16]:
X = pixel_db[['band_1','band_2','band_3','band_4','band_5','band_6','band_7','band_8','band_9','band_10','band_11','band_12','band_13']]
X.band_1 *= .0001
X.band_2 *= .0001
X.band_3 *= .0001
X.band_4 *= .0001
X.band_5 *= .0001
X.band_6 *= .0001
X.band_7 *= .0001
X.band_8 *= .0001
X.band_9 *= .0001
X.band_10 *= .0001
X.band_11 *= .0001
X.band_12 *= .0001
X.band_13 *= .0001
X[:5]

C:\Users\jbrown\AppData\Local\conda\conda\envs\neural2\lib\site-packages\pandas\core\generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,band_1,band_2,band_3,band_4,band_5,band_6,band_7,band_8,band_9,band_10,band_11,band_12,band_13
0,0.3437,0.3911,0.3907,0.4212,0.4107,0.4372,0.4873,0.5528,0.5516,0.2563,0.0202,0.5159,0.4427
1,0.3398,0.3982,0.3886,0.4444,0.4352,0.4385,0.4722,0.5582,0.5323,0.2524,0.0197,0.5222,0.4229
2,0.3335,0.3653,0.3830,0.4444,0.4506,0.4603,0.4763,0.5404,0.5263,0.2453,0.0191,0.5408,0.4190
3,0.3221,0.3399,0.3730,0.4347,0.4388,0.4632,0.4882,0.5073,0.5277,0.2322,0.0184,0.5510,0.4199
4,0.3083,0.3666,0.3728,0.4328,0.4116,0.4259,0.4615,0.5019,0.5125,0.2159,0.0177,0.5313,0.4108

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X.values, y_cat,
                                                    test_size=0.25)

In [18]:
from sklearn.utils import class_weight
class_weights = class_weight.compute_class_weight('balanced',
                                                 np.unique(np.ravel(y_train,order='C')),
                                                 np.ravel(y_train,order='C'))

In [31]:
import numpy as np
from keras.models import Sequential
from keras.layers import Dense, Dropout, LSTM, Embedding
from keras.optimizers import Adamax, SGD, Adadelta


model = Sequential()
#model.add(Dropout(0.2, input_shape=(13,)))
model.add(Dense(64, input_shape=(13,),kernel_initializer='uniform', activation='softmax'))
model.add(Dropout(0.1))
#model.add(Dense(13, input_shape=(13,), kernel_initializer='uniform', activation='softmax'))
model.add(Dense(64, kernel_initializer='uniform', activation='relu'))

model.add(Dense(64, kernel_initializer='uniform', activation='relu'))

model.add(Dense(64, kernel_initializer='uniform', activation='relu'))
model.add(Dropout(0.1))
model.add(Dense(64, kernel_initializer='uniform', activation='relu'))

model.add(Dense(64, kernel_initializer='uniform', activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(2, kernel_initializer='uniform', activation='sigmoid'))


#model.compile(loss='binary_crossentropy',
              #optimizer='rmsprop',
              #metrics=['accuracy'])
model.compile(Adamax(lr=0.01),
      loss='categorical_crossentropy',
      metrics=['accuracy'])

In [32]:
model.fit(X, y_cat, epochs=14, validation_split=0.05,shuffle=True,class_weight={0:1,1:1.05})

Train on 282734 samples, validate on 14881 samples
Epoch 1/14
282734/282734 [==============================] - 9s 33us/step - loss: 0.2975 - acc: 0.8915 - val_loss: 0.4379 - val_acc: 0.8411
Epoch 2/14
282734/282734 [==============================] - 9s 32us/step - loss: 0.2394 - acc: 0.9175 - val_loss: 0.5411 - val_acc: 0.8019
Epoch 3/14
282734/282734 [==============================] - 9s 32us/step - loss: 0.2245 - acc: 0.9240 - val_loss: 0.2855 - val_acc: 0.9072
Epoch 4/14
282734/282734 [==============================] - 9s 31us/step - loss: 0.2151 - acc: 0.9276 - val_loss: 0.3101 - val_acc: 0.8801
Epoch 5/14
282734/282734 [==============================] - 9s 33us/step - loss: 0.2090 - acc: 0.9296 - val_loss: 0.3780 - val_acc: 0.8725
Epoch 6/14
282734/282734 [==============================] - 9s 33us/step - loss: 0.2043 - acc: 0.9310 - val_loss: 0.2701 - val_acc: 0.9094
Epoch 7/14
282734/282734 [==============================] - 9s 32us/step - loss: 0.1991 - acc: 0.9324 - val_loss: 0.2657 - val_acc: 0.8927
Epoch 8/14
282734/282734 [==============================] - 9s 32us/step - loss: 0.1939 - acc: 0.9339 - val_loss: 0.4073 - val_acc: 0.8675
Epoch 9/14
282734/282734 [==============================] - 9s 31us/step - loss: 0.1913 - acc: 0.9347 - val_loss: 0.2817 - val_acc: 0.8998
Epoch 10/14
282734/282734 [==============================] - 9s 32us/step - loss: 0.1881 - acc: 0.9360 - val_loss: 0.3133 - val_acc: 0.8884
Epoch 11/14
282734/282734 [==============================] - 9s 32us/step - loss: 0.1856 - acc: 0.9368 - val_loss: 0.4509 - val_acc: 0.8393
Epoch 12/14
282734/282734 [==============================] - 9s 32us/step - loss: 0.1834 - acc: 0.9376 - val_loss: 0.3170 - val_acc: 0.8866
Epoch 13/14
282734/282734 [==============================] - 9s 32us/step - loss: 0.1808 - acc: 0.9381 - val_loss: 0.3695 - val_acc: 0.8787
Epoch 14/14
282734/282734 [==============================] - 9s 32us/step - loss: 0.1785 - acc: 0.9393 - val_loss: 0.3730 - val_acc: 0.8642

In [33]:
loss, accuracy = model.evaluate(X,y_cat)

297615/297615 [==============================] - 4s 12us/step

In [34]:
accuracy

0.9410782386640458

In [35]:
from keras.models import load_model

model.save('U:\Training_Data\Models\Model_332.h5')  # creates a HDF5 file 'my_model.h5'

In [ ]:
from keras.models import load_model
model = load_model(r'U:\Training_Data\Models\300\Model_315.h5')

In [ ]:
# From: http://nbviewer.jupyter.org/github/tensorflow/tensorflow/blob/master/tensorflow/examples/tutorials/deepdream/deepdream.ipynb
# Helper functions for TF Graph visualization
import tensorflow as tf
from IPython.display import clear_output, Image, display, HTML
def strip_consts(graph_def, max_const_size=32):
    """Strip large constant values from graph_def."""
    strip_def = tf.GraphDef()
    for n0 in graph_def.node:
        n = strip_def.node.add() 
        n.MergeFrom(n0)
        if n.op == 'Const':
            tensor = n.attr['value'].tensor
            size = len(tensor.tensor_content)
            if size > max_const_size:
                tensor.tensor_content = bytes("<stripped %d bytes>"%size, 'utf-8')
    return strip_def
  
def rename_nodes(graph_def, rename_func):
    res_def = tf.GraphDef()
    for n0 in graph_def.node:
        n = res_def.node.add() 
        n.MergeFrom(n0)
        n.name = rename_func(n.name)
        for i, s in enumerate(n.input):
            n.input[i] = rename_func(s) if s[0]!='^' else '^'+rename_func(s[1:])
    return res_def
  
def show_graph(graph_def, max_const_size=32):
    """Visualize TensorFlow graph."""
    if hasattr(graph_def, 'as_graph_def'):
        graph_def = graph_def.as_graph_def()
    strip_def = strip_consts(graph_def, max_const_size=max_const_size)
    code = """
        <script>
          function load() {{
            document.getElementById("{id}").pbtxt = {data};
          }}
        </script>
        <link rel="import" href="https://tensorboard.appspot.com/tf-graph-basic.build.html" onload=load()>
        <div style="height:600px">
          <tf-graph-basic id="{id}"></tf-graph-basic>
        </div>
    """.format(data=repr(str(strip_def)), id='graph'+str(np.random.rand()))
  
    iframe = """
        <iframe seamless style="width:800px;height:620px;border:0" srcdoc="{}"></iframe>
    """.format(code.replace('"', '&quot;'))
    display(HTML(iframe))
# Visualizing the network graph. Be sure expand the "mixed" nodes to see their 
# internal structure. We are going to visualize "Conv2D" nodes.
graph_def = tf.get_default_graph().as_graph_def()
tmp_def = rename_nodes(graph_def, lambda s:"/".join(s.split('_',1)))
show_graph(tmp_def)

In [ ]:
import glob
import os
from osgeo import gdal
import glob

os.chdir(r'U:\Training_Data\Training_Images\T32VMN_20190804')

fileList= glob.glob('*B??.jp2')

warp_options = gdal.WarpOptions(format="GTiff",resampleAlg="cubic", width=5490, height=5490)

for i in fileList:
    print(i)
    img = gdal.Open(i)
    gdal.Warp(str(i[-7:-4]) + '.tif', img, options = warp_options)

import sys, os, subprocess
sys.path.append(r'C:\Users\jbrown\AppData\Local\conda\conda\envs\neural2\Scripts') 
gm = os.path.join('C:\\','Users','jbrown','AppData','Local','conda','conda','envs','neural2','Scripts','gdal_merge.py')
merge_command = ["python", gm,'-separate', "-o", i[:15]+".tif", "B01.tif", "B02.tif","B03.tif","B04.tif",
                 "B05.tif","B06.tif","B07.tif","B08.tif","B8A.tif","B09.tif","B10.tif","B11.tif","B12.tif",]
subprocess.call(merge_command,shell=True)
fileList=''
gm=''

removeList = glob.glob('B*.tif')
for i in removeList:
    os.remove(i)
    
print('Done!')

In [ ]:
import subprocess, os, sys
from osgeo import gdal

fileList=glob.glob('*B??.tif')


for file in fileList:
    sys.path.append(r'C:\Users\jbrown\AppData\Local\conda\conda\envs\neural\Scripts') 
    gm = os.path.join('C:\\','Users','jbrown','AppData','Local','conda','conda','envs','neural','Scripts','gdal_calc.py')
    merge_command = ["python", gm,"--outfile", file[0:3]+"_updated.tif",'-A',file,
                     '--calc','A*0.0001']
    subprocess.call(merge_command,shell=True)

In [ ]:
gdal.Translate(destName='B04_updated.tif',srcDS='B04.tif',outputType=gdal.GDT_Float32)

In [ ]:
import pandas as pd
df = pd.DataFrame(columns=['x','y','z'])

In [ ]:
from osgeo import gdal

img = gdal.Open('B01.tif')
srs = img.GetProjection()
geo_transform = img.GetGeoTransform()
minx = geo_transform[0]
maxy = geo_transform[3]
maxx = minx + geo_transform[1] * img.RasterXSize
miny = maxy + geo_transform[5] * img.RasterYSize

x = list(range(int(minx),int(maxx),20))
y = list(range(int(miny),int(maxy),20))

df['x']=x
df['y']=y
df['z']=1

df.head()

In [ ]:
from osgeo import gdal

img = gdal.Open('B01.tif')
srs = img.GetProjection()
geo_transform = img.GetGeoTransform()
minx = geo_transform[0]
maxy = geo_transform[3]
maxx = minx + geo_transform[1] * img.RasterXSize
miny = maxy + geo_transform[5] * img.RasterYSize

gdal.Warp(destNameOrDestDS='test.tif',
               srcDSOrSrcDSTab='B01.csv',
               width=5490,
               height=5490,
               format="GTiff",
               dstSRS='EPSG:'+srs[-8:-3],
               outputBounds=[minx, miny, maxx, maxy]
              )

In [ ]:
import pandas as pd
#y_pred = model.predict(X_test)
test_image = pd.read_csv(r'U:\Imagery\T36PYB_Masks\T36PYB_20180525.txt', delimiter = '\s+')
test_image_bands = test_image[['B1','B2','B3','B4','B5','B6','B7','B8','B8A','B9','B10','B11','B12']]
test_image_bands.head()

In [ ]:
import time
t0=time.time()
y_pred = model.predict(test_image_bands.values)
t1=time.time()
total=t1-t0
print(total)
y_pred[:5]

In [ ]:
import numpy as np
#y_test_class = np.argmax(y_test, axis=1)
y_pred_class = np.argmax(y_pred, axis=1)
#y_pred_class = np.rint(y_pred)
#y_pred_class.shape
y_pred_class[:75]
y_pred_class.shape

In [ ]:
cloud_count = 0
non_cloud_count = 0

for i in y_pred_class:
    if i == 1:
        cloud_count += 1
    if i == 0:
        non_cloud_count += 1
        
print('Cloud pixel amount: '+ str(cloud_count))
print('Non_cloud pixel amount: '+ str(non_cloud_count))

In [ ]:
y_pred_class.shape

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
print(classification_report(y_test_class, y_pred_class))

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test_class, y_pred_class)

In [ ]:
#next scripts would take y_pred_class values,
#and concatenate them to a csv with the pixel x,y info for that image
len(y_pred_class)

In [ ]:
test_image = pd.read_csv(r'U:\Imagery\T36PYB_Masks\T36PYB_20180525.txt', delimiter = '\s+')


#final_mask = test_image[['Longitude','Latitude','0','1','2','3']]
#test_image = pd.DataFrame(test_image)
test_image['Class'] = y_pred_class

#final_mask.head()
test_image.to_csv(r'U:\Imagery\T36PYB_Masks\T36PYB_Mask5.csv',columns = ['Longitude','Latitude','Class'])

In [ ]:
test_image = pd.read_csv('C:\\ztdl\\Masks\\Test_Mask14.csv', delimiter = ',')
test_image.head()

In [ ]:
#should be same as above
import pandas as pd
import csv

df = pd.read_csv('C:\\ztdl\\Masks\\Test_Mask.csv')

new_df = df[['Longitude','Latitude','Cloud']]

new_df.to_csv('C:\\ztdl\\Masks\\Test_Mask2.csv')

In [ ]:
from osgeo import gdal

raster = gdal.Open(r'U:\Training_Data\Training_Images\S2B_MSIL1C_20181007T084829_N0206_R107_T35TPF_20181007T124415.SAFE\GRANULE\L1C_T35TPF_A008284_20181007T084829\IMG_DATA\B01.tif')
band = raster.GetRasterBand(1)
band.ReadAsArray()

In [ ]:
import gdal
from gdalconst import *
import os

os.chdir('C:\\ztdl\\Masks')
#gdal_cmd = 'gdal_translate -a_srs ESPG:29100 Test_Mask10.csv Test_Mask10.tif'
#subprocess.call(gdal_cmd, shell=True)

df = gdal.Open('C:\\ztdl\\Masks\\Test_Mask10.xyz')
fmt = "GTiff"
driver = gdal.GetDriverByName(fmt)
driver.Register()

In [ ]:
driver.CreateCopy('C:\\ztdl\\Masks\\Test_Mask10.tif', df, 0)

In [ ]:
import os

os.system('gdal_translate -of GTiff Test_Mask10.xyz Test_Mask10.tif')

In [ ]:
import subprocess

subprocess.call('gdalinfo --formats',shell=True)

In [ ]:


df = pd.read_csv('Test_Mask10.xyz')
df[:1200]